name: Build and Deploy All Dist
# 触发工作流的条件：手动触发（workflow_dispatch）或推送了 tag（例如 v1.0.0）
on:
  workflow_dispatch:
  push:
    tags:
      - '*'  # 匹配所有 tag，例如 v1.0.0

# 定义多个“任务”（jobs），每个任务表示构建一个平台的应用
jobs:
  web: # 构建 Web 版本
    runs-on: ubuntu-latest  # 使用最新的 Ubuntu 系统执行
    steps:
      - uses: actions/checkout@v4  # 拉取代码仓库
        with:
          fetch-depth: 0  # 获取完整的提交历史（用于生成变更日志等）
      - uses: subosito/flutter-action@v2  # 安装 Flutter 环境
        with:
          flutter-version: '3.32.4'
      - run: flutter pub get  # 下载项目依赖
      - run: flutter build web --release  # 构建 Web 版本的发布包
      #      - run: tar -czvf web.tar.gz -C build/web .  # 压缩打包为 web.tar.gz
      - run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="web"
          FILE_NAME="harvest_${VERSION}_${ARCH}.tar.gz"
          tar -czvf $FILE_NAME -C build/web .
      - uses: softprops/action-gh-release@v2  # 发布 GitHub Release
        with:
          files: ${{ github.workspace }}/build/$FILE_NAME  # 上传文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}  # 使用 tag 或提交哈希命名
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}  # 如果不是 tag，作为草稿
          prerelease: false  # 不标记为预发布版本
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload WebDist to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} ${{ github.workspace }}/build/$FILE_NAME

  #  linux: # 构建 Linux 桌面应用
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #        with:
  #          fetch-depth: 0
  #      - uses: subosito/flutter-action@v2
  #        with:
  #          flutter-version: '3.32.4'
  #      - run: |
  #          sudo apt-get update -y  # 更新系统包信息
  #          sudo apt-get install -y ninja-build libgtk-3-dev  # 安装依赖（用于 Linux 构建）
  #      - run: flutter pub get
  #      - run: flutter build linux --release
  #      # - run: tar -czvf linux-x64.tar.gz -C build/linux/x64/release/bundle .  # 压缩为 tar 包
  #      - run: |
  #          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
  #          ARCH="android-arm64"
  #          SYSTEM="android"
  #          FILE_NAME="harvest_${VERSION}_${ARCH}_${SYSTEM}.tar.gz"
  #          tar -czvf $FILE_NAME -C build/linux/x64/release/bundle .
  #      - uses: softprops/action-gh-release@v2
  #        with:
  #          files: ${{ github.workspace }}/build/linux/x64/release/$FILE_NAME
  #          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
  #          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
  #          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
  #          prerelease: false
  #      - name: Install Qiniu CLI
  #        run: |
  #          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
  #          tar -xvzf x-cli.tar.gz
  #          sudo mv x-cli /usr/local/bin
  #      - name: Upload Linux Dist to Qiniu Cloud
  #        run: |
  #          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
  #          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
  #
  #          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
  #          export QINIU_ZONE="app/${VERSION}"
  #          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} $DMG_FILE

  android: # 构建 Android 应用
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4  # 设置 Java 环境（Android 编译需要）
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Accept Android SDK licenses
        run: yes | flutter doctor --android-licenses
      - run: flutter pub get
      - run: flutter build apk --release --obfuscate --split-debug-info=build/symbols --split-per-abi  # 构建 64 位 Android 安装包
      # - run: cp build/app/outputs/flutter-apk/app-release.apk android.apk
      - run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="android-arm64"
          SYSTEM="android"
          FILE_NAME="harvest_${VERSION}_${ARCH}_${SYSTEM}.apk"
          cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk $FILE_NAME
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/build/app/outputs/flutter-apk/$FILE_NAME  # 上传 APK 文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload APK to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }}${{ github.workspace }}/build/app/outputs/flutter-apk/$FILE_NAME

  windows: # 构建 Windows 桌面应用
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - run: flutter pub get
      - run: flutter build windows --release
      # - run: Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath windows-x64.zip  # 压缩为 zip 文件
      - run: |
          $versionLine = Get-Content pubspec.yaml | Where-Object { $_ -match '^version:' }
          $version = ($versionLine -split ':\s*')[1].Trim()
          $arch="x86_64"
          $FILE_NAME="harvest_${version}_${arch}_win.zip"
          Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath $FILE_NAME  # 压缩为 zip 文件
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/build/windows/x64/runner/Release/$FILE_NAME
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload Windows Dist to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} ${{ github.workspace }}/build/windows/x64/runner/Release/$FILE_NAME

  macos: # 构建 macOS 桌面应用
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - run: flutter pub get
      - run: flutter build macos --release
      # - run: tar -czvf macos.tar.gz -C build/macos/Build/Products/Release app.app  # 打包为 .tar.gz
      - run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="x86_64"
          SYSTEM="macos"
          BUILD_PATH="build/macos/Build/Products/Release/"
          APP_PATH="${BUILD_PATH}/macos-${ARCH}/Runner.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}.dmg"
          hdiutil create -volname "harvest_${VERSION}_${ARCH}" -srcfolder $APP_PATH -ov -format UDZO $FILE_NAME
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/build/macos/Build/Products/Release/$FILE_NAME
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload MacOS Dist to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} ${{ github.workspace }}/build/macos/Build/Products/Release/$FILE_NAME

  macos-arm: # 构建 macOS 桌面应用
    runs-on: macos-15-arm64
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - run: flutter pub get
      - run: flutter build macos --release
      # - run: tar -czvf macos.tar.gz -C build/macos/Build/Products/Release app.app  # 打包为 .tar.gz
      - run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="arm64"
          SYSTEM="macos"
          BUILD_PATH="build/macos/Build/Products/Release/"
          APP_PATH="${BUILD_PATH}/macos-${ARCH}/Runner.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}.dmg"
          hdiutil create -volname "harvest_${VERSION}_${ARCH}" -srcfolder $APP_PATH -ov -format UDZO $FILE_NAME
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/build/macos/Build/Products/Release/$FILE_NAME
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload MacOS Arm Dist to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} ${{ github.workspace }}/build/macos/Build/Products/Release/$FILE_NAME

  ios: # 构建 iOS 应用（需要 macOS 系统）
    runs-on: macos-15-arm64
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign  # 构建 iOS 应用，但不签名（用于测试）
      #      - run: tar -czvf ios.tar.gz -C build/ios/iphoneos Runner.app  # 压缩打包
      - run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="arm64"
          SYSTEM="ios"
          BUILD_PATH="build/ios/iphoneos"
          APP_PATH="${BUILD_PATH}/Runner.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}.ipa"
          zip -r $FILE_NAME $APP_PATH
          tar -czvf ios.tar.gz $FILE_NAME
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/build/ios/iphoneos/$FILE_NAME  # 上传 IPA 文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: Install Qiniu CLI
        run: |
          curl -L https://github.com/qiniu/x-cli/releases/download/v1.2.1/x-cli-macos-amd64.tar.gz -o x-cli.tar.gz
          tar -xvzf x-cli.tar.gz
          sudo mv x-cli /usr/local/bin
      - name: Upload iOS Dist to Qiniu Cloud
        run: |
          export QINIU_ACCESS_KEY=${{ secrets.QINIU_ACCESS_KEY }}
          export QINIU_SECRET_KEY=${{ secrets.QINIU_SECRET_KEY }}
          
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          export QINIU_ZONE="app/${VERSION}"
          qiniu upload --access-key ${{ secrets.QINIU_ACCESS_KEY }} --secret-key ${{ secrets.QINIU_SECRET_KEY }} --bucket "laonie" --zone ${{ secrets.QINIU_ZONE }} ${{ github.workspace }}/build/ios/iphoneos/$FILE_NAME
