name: Build and Deploy All Dist
# 触发工作流的条件：手动触发（workflow_dispatch）或推送了 tag（例如 v1.0.0）
on:
  workflow_dispatch:
  push:
    tags:
      - '*'  # 匹配所有 tag，例如 v1.0.0

# 定义多个“任务”（jobs），每个任务表示构建一个平台的应用
jobs:
  web: # 构建 Web 版本
    runs-on: ubuntu-latest  # 使用最新的 Ubuntu 系统执行
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6  # 拉取代码仓库
        with:
          fetch-depth: 0  # 获取完整的提交历史（用于生成变更日志等）
      - name: Set up Flutter
        uses: subosito/flutter-action@v2  # 安装 Flutter 环境
        with:
          flutter-version: '3.32.4'

      - name: Install Flutter dependencies
        run: flutter pub get  # 下载项目依赖

      - name: Build WebDist
        run: flutter build web --release  # 构建 Web 版本的发布包
      #      - run: tar -czvf web.tar.gz -C build/web .  # 压缩打包为 web.tar.gz
      - name: Archive WebDist To Release Archive
        id: build_web  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="web"
          FILE_NAME="harvest_${VERSION}_${ARCH}.tar.gz"
          tar -czvf $FILE_NAME -C build/web .
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=${VERSION}" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME
      - name: Archive WebDist To Release Archive
        uses: softprops/action-gh-release@v2  # 发布 GitHub Release
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_web.outputs.file_name }}  # 上传文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}  # 使用 tag 或提交哈希命名
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}  # 如果不是 tag，作为草稿
          prerelease: false  # 不标记为预发布版本
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_web.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_web.outputs.app_version }} # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件

  linux: # 构建 Linux 桌面应用
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - run: |
          sudo apt-get update -y  # 更新系统包信息
          sudo apt-get install -y \
               ninja-build \
               libgtk-3-dev \
               libasound2-dev \
               libudev-dev \
               liblzma-dev \
               clang \
               cmake \
               libmpv-dev \
               pkg-config  # 安装依赖（用于 Linux 构建）

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build Linux Dist
        run: flutter build linux --release
      # - run: tar -czvf linux-x64.tar.gz -C build/linux/x64/release/bundle .  # 压缩为 tar 包
      - name: Archive Linux Dist To Release Archive
        id: build_linux_x64  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="linux-x64"
          SYSTEM="linux"
          FILE_NAME="harvest_${VERSION}_${ARCH}_${SYSTEM}.tar.gz"
          tar -czvf $FILE_NAME -C build/linux/x64/release/bundle .
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=${VERSION}" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME
      - name: Archive Linux Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_linux_x64.outputs.file_name }}
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_linux_x64.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_linux_x64.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件


  android: # 构建 Android 应用
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Java
        uses: actions/setup-java@v5  # 设置 Java 环境（Android 编译需要）
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Accept Android SDK licenses
        run: yes | flutter doctor --android-licenses
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build Android Dist
        run: flutter build apk --release --obfuscate --split-debug-info=build/symbols --split-per-abi  # 构建 64 位 Android 安装包
      # - run: cp build/app/outputs/flutter-apk/app-release.apk android.apk
      - name: Archive Android Dist To Release Archive
        id: build_android_arm64  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="arm64"
          SYSTEM="android"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}.apk"
          cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk $FILE_NAME
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=${VERSION}" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME
      - name: Archive Android Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_android_arm64.outputs.file_name }}  # 上传 APK 文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_android_arm64.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_android_arm64.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件

  windows: # 构建 Windows 桌面应用
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build Windows Dist
        run: flutter build windows --release
      # - run: Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath windows-x64.zip  # 压缩为 zip 文件
      - name: Archive Windows Dist To Release Archive
        id: build_windows_x86  # 定义一个步骤 ID，用于后续引用
        run: |
          $versionLine = Get-Content pubspec.yaml | Where-Object { $_ -match '^version:' }
          $version = ($versionLine -split ':\s*')[1].Trim()
          $arch="x86_64"
          $FILE_NAME="harvest_${version}_${arch}-win.zip"
          Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath $FILE_NAME  # 压缩为 zip 文件
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=$version" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME
      - name: Archive Windows Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_windows_x86.outputs.file_name }}
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_windows_x86.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_windows_x86.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件

  macos_intel: # 构建 macOS 桌面应用
    runs-on: macos-15-intel
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build macOS Dist
        run: flutter build macos --release
      # - run: tar -czvf macos.tar.gz -C build/macos/Build/Products/Release app.app  # 打包为 .tar.gz
      - name: Archive macOS Dist To Release Archive
        id: build_macos_x86  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="x86_64"
          SYSTEM="macos"
          BUILD_PATH="build/macos/Build/Products/Release/"
          APP_PATH="${BUILD_PATH}/harvest.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}"
          hdiutil create -volname $FILE_NAME -srcfolder $APP_PATH -ov -format UDZO ${FILE_NAME}.dmg
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=$VERSION" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME.dmg
      - name: Archive macOS Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_macos_x86.outputs.file_name }}.dmg
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_macos_x86.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_macos_x86.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件


  macos_arm: # 构建 macOS 桌面应用
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build macOS Dist
        run: flutter build macos --release
      # - run: tar -czvf macos.tar.gz -C build/macos/Build/Products/Release app.app  # 打包为 .tar.gz
      - name: Archive macOS Dist To Release Archive
        id: build_macos_arm  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="arm64"
          SYSTEM="macos"
          BUILD_PATH="build/macos/Build/Products/Release/"
          APP_PATH="${BUILD_PATH}/harvest.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}"
          hdiutil create -volname $FILE_NAME -srcfolder $APP_PATH -ov -format UDZO ${FILE_NAME}.dmg
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=$VERSION" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME.dmg
      - name: Archive macOS Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_macos_arm.outputs.file_name }}.dmg  # 上传 DMG 文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_macos_arm.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_macos_arm.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件

  ios: # 构建 iOS 应用（需要 macOS 系统）
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Build iOS Dist
        run: flutter build ios --release --no-codesign  # 构建 iOS 应用，但不签名（用于测试）
      #      - run: tar -czvf ios.tar.gz -C build/ios/iphoneos Runner.app  # 压缩打包
      - name: Archive iOS Dist To Release IPA
        id: build_ios  # 定义一个步骤 ID，用于后续引用
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          ARCH="arm64"
          SYSTEM="ios"
          BUILD_PATH="build/ios/iphoneos"
          APP_PATH="${BUILD_PATH}/Runner.app"
          FILE_NAME="harvest_${VERSION}_${ARCH}-${SYSTEM}.ipa"
          mkdir Payload
          cp -R $APP_PATH ./Payload/Runner.app
          zip -r $FILE_NAME Payload
          echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
          echo "app_version=$VERSION" >> $GITHUB_OUTPUT
          ls -l $FILE_NAME
      - name: Archive iOS Dist To Release Archive
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          files: ${{ github.workspace }}/${{ steps.build_ios.outputs.file_name }}  # 上传 IPA 文件
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          name: Release ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.sha }}
          draft: ${{ startsWith(github.ref, 'refs/tags/') == false }}
          prerelease: false
      - name: 上传到七牛云
        uses: qiniu/upload-action@main
        with:
          bucket: laonie # 空间名称，按实际情况填写
          access_key: ${{ secrets.QINIU_ACCESS_KEY }} # 七牛云 AccessKey 备注2
          secret_key: ${{ secrets.QINIU_SECRET_KEY }} # 七牛云 SecretKey 备注2
          artifacts: ${{ github.workspace }}/${{ steps.build_ios.outputs.file_name }} # 本地文件夹
          prefix: app/${{ steps.build_ios.outputs.app_version }}  # 文件路径前缀 # 要上传到七牛云中的文件夹
          overwrite: true # 是否覆盖已有文件
